#### Here's a map of area with high density of Tech Companies (>90% of top 100 in NYC)
<img src="NYC_TECH_region.png">

Source: https://www.builtinnyc.com/2016/12/13/big-tech-companies-nyc-locations

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import requests
import json
%matplotlib inline

In [3]:
df = pd.read_pickle('merged_MTA_final.pickle')
df.head()

,STATION,ENTRIES,EXITS,weekday,lat_x,long_x,volume,lat_y,long_y,geo,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1 AV,16640.285714,17975.576923,3.0,40.730975,-73.981681,34615.862637,40.730975,-73.981681,"(40.7309749758, -73.9816808749)",...,25.5,8.3,6.0,30.0,4480,86.9,4.9,7.9,0.4,5.1
1,103 ST,24898.337912,15611.291209,3.0,40.799446,-73.968379,40509.629121,40.799446,-73.968379,"(40.7994460003, -73.9683789996)",...,14.2,3.8,5.7,31.4,6057,73.5,12.1,14.4,0.0,5.0
2,103 ST-CORONA,16990.513736,10904.483516,3.0,40.799446,-73.968379,27894.997253,40.799446,-73.968379,"(40.7994460003, -73.9683789996)",...,14.2,3.8,5.7,31.4,6057,73.5,12.1,14.4,0.0,5.0
3,104 ST,2476.923077,701.524725,3.0,40.681711,-73.837683,3178.447802,40.681711,-73.837683,"(40.6817110011, -73.8376830006)",...,9.9,0.0,2.6,48.0,1386,80.0,12.1,7.0,0.9,11.3
4,110 ST,9581.337912,6975.239011,3.0,40.795020,-73.944250,16556.576923,40.795020,-73.944250,"(40.7950200001, -73.9442499969)",...,11.4,3.2,7.3,32.0,2578,76.9,9.9,11.2,2.0,13.1

In [6]:
pol = [(40.757320, -74.006629),
       (40.754569, -73.995595),
       (40.762716, -73.987214),
       (40.761446, -73.969755),
       (40.705987, -74.011099),
       (40.713081, -74.015429)]

In [5]:
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

point = Point(0.5, 0.5)
polygon = Polygon([(0, 0), (0, 1), (1, 1), (1, 0)])
print(polygon.contains(point))

True

In [7]:
def InTech(latlong,poly):
    pt = Point(latlong)
    pol = Polygon(poly)
    return(pol.contains(pt))

In [9]:
df['InTechZone'] = df.geo.apply(lambda x: InTech(x,pol))

In [10]:
df.head()

,STATION,ENTRIES,EXITS,weekday,lat_x,long_x,volume,lat_y,long_y,geo,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,InTechZone
0,1 AV,16640.285714,17975.576923,3.0,40.730975,-73.981681,34615.862637,40.730975,-73.981681,"(40.7309749758, -73.9816808749)",...,8.3,6.0,30.0,4480,86.9,4.9,7.9,0.4,5.1,False
1,103 ST,24898.337912,15611.291209,3.0,40.799446,-73.968379,40509.629121,40.799446,-73.968379,"(40.7994460003, -73.9683789996)",...,3.8,5.7,31.4,6057,73.5,12.1,14.4,0.0,5.0,False
2,103 ST-CORONA,16990.513736,10904.483516,3.0,40.799446,-73.968379,27894.997253,40.799446,-73.968379,"(40.7994460003, -73.9683789996)",...,3.8,5.7,31.4,6057,73.5,12.1,14.4,0.0,5.0,False
3,104 ST,2476.923077,701.524725,3.0,40.681711,-73.837683,3178.447802,40.681711,-73.837683,"(40.6817110011, -73.8376830006)",...,0.0,2.6,48.0,1386,80.0,12.1,7.0,0.9,11.3,False
4,110 ST,9581.337912,6975.239011,3.0,40.795020,-73.944250,16556.576923,40.795020,-73.944250,"(40.7950200001, -73.9442499969)",...,3.2,7.3,32.0,2578,76.9,9.9,11.2,2.0,13.1,False

In [15]:
df[df.InTechZone==True]

,STATION,ENTRIES,EXITS,weekday,lat_x,long_x,volume,lat_y,long_y,geo,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,InTechZone
57,33 ST,21977.752747,17489.447802,3.000000,40.746081,-73.982076,39467.200549,40.746081,-73.982076,"(40.7460809991, -73.9820760015)",...,5.1,4.9,20.8,2432,89.8,1.5,8.8,0.0,5.7,True
59,34 ST-HERALD SQ,87010.483516,89816.538462,3.000000,40.750373,-73.991057,176827.021978,40.750373,-73.991057,"(40.750373, -73.9910569991)",...,7.4,7.9,23.6,932,90.7,3.6,5.7,0.0,5.7,True
60,34 ST-HUDSON YD,7856.412088,9510.000000,3.000000,40.755446,-74.002197,17366.412088,40.755446,-74.002197,"(40.7554463596, -74.0021970944)",...,11.2,4.1,26.0,3738,92.9,1.7,5.4,0.0,5.8,True
61,34 ST-PENN STA,127057.491758,111318.032967,3.000000,40.750373,-73.991057,238375.524725,40.750373,-73.991057,"(40.750373, -73.9910569991)",...,7.4,7.9,23.6,932,90.7,3.6,5.7,0.0,5.7,True
67,42 ST-BRYANT PK,30123.506887,31209.195592,2.997245,40.754184,-73.984591,61332.702479,40.754184,-73.984591,"(40.7541840013, -73.984590999)",...,0.0,3.7,17.9,108,95.4,4.6,0.0,0.0,0.0,True
68,42 ST-PORT AUTH,69825.346154,59053.791209,3.000000,40.757308,-73.989735,128879.137363,40.757308,-73.989735,"(40.7573079986, -73.9897350009)",...,4.6,15.6,16.5,379,79.9,2.1,17.9,0.0,12.9,True
72,47-50 STS ROCK,42932.348901,47049.876374,3.000000,40.758641,-73.981331,89982.225275,40.758641,-73.981331,"(40.7586410016, -73.9813310023)",...,0.0,7.8,25.7,116,100.0,0.0,0.0,0.0,4.1,True
73,49 ST,19898.903846,18271.263736,3.000000,40.759802,-73.984210,38170.167582,40.759802,-73.984210,"(40.7598019739, -73.9842095659)",...,4.9,3.1,23.4,1873,91.9,4.8,3.4,0.0,3.1,True
75,5 AV/53 ST,18740.005495,20893.071429,3.000000,40.760087,-73.975249,39633.076923,40.760087,-73.975249,"(40.7600868323, -73.9752485053)",...,24.1,27.8,15.2,162,67.9,3.1,29.0,0.0,0.0,True
78,50 ST,36762.425824,30593.046703,3.000000,40.761728,-73.983849,67355.472527,40.761728,-73.983849,"(40.7617279996, -73.9838489999)",...,4.4,4.3,27.5,1669,90.2,4.0,5.8,0.0,4.4,True
182,CHRISTOPHER ST,10696.329670,10986.236264,3.000000,40.720824,-74.005229,21682.565934,40.720824,-74.005229,"(40.7208240001, -74.0052290023)",...,12.1,8.9,24.8,3262,91.8,3.0,5.2,0.0,3.5,True
240,HEWES ST,2247.766484,1057.777473,3.000000,40.749645,-73.987937,3305.543956,40.749645,-73.987937,"(40.7496445601, -73.9879368338)",...,7.4,7.9,23.6,932,90.7,3.6,5.7,0.0,5.7,True
242,HOUSTON ST,10670.230769,7338.098901,3.000000,40.734673,-73.989951,18008.329670,40.734673,-73.989951,"(40.734673001, -73.9899509988)",...,5.9,2.9,23.6,3350,86.9,4.2,8.9,0.0,10.4,True
260,JUNIUS ST,1426.032864,1502.859155,3.000000,40.734673,-73.989951,2928.892019,40.734673,-73.989951,"(40.734673001, -73.9899509988)",...,5.9,2.9,23.6,3350,86.9,4.2,8.9,0.0,10.4,True
261,KEW GARDENS,21037.055249,19984.146409,2.997238,40.707557,-74.011862,41021.201657,40.707557,-74.011862,"(40.7075570009, -74.0118619986)",...,0.5,6.9,24.9,6463,91.6,5.9,2.5,0.0,4.4,True
262,KINGS HWY,22643.645604,17223.681319,3.000000,40.755446,-74.002197,39867.326923,40.755446,-74.002197,"(40.7554463596, -74.0021970944)",...,11.2,4.1,26.0,3738,92.9,1.7,5.4,0.0,5.8,True
285,MOSHOLU PKWY,6929.102210,2042.022099,2.994475,40.755446,-74.002197,8971.124309,40.755446,-74.002197,"(40.7554463596, -74.0021970944)",...,11.2,4.1,26.0,3738,92.9,1.7,5.4,0.0,5.8,True
328,QUEENSBORO PLZ,11663.002747,3380.329670,3.000000,40.754184,-73.984591,15043.332418,40.754184,-73.984591,"(40.7541840013, -73.984590999)",...,0.0,3.7,17.9,108,95.4,4.6,0.0,0.0,0.0,True
344,SPRING ST,17803.854396,11908.656593,3.000000,40.750373,-73.991057,29712.510989,40.750373,-73.991057,"(40.750373, -73.9910569991)",...,7.4,7.9,23.6,932,90.7,3.6,5.7,0.0,5.7,True
355,TIMES SQ-42 ST,72945.464286,74993.425824,3.000000,40.754612,-73.986768,147938.890110,40.754612,-73.986768,"(40.7546119985, -73.9867680015)",...,0.0,3.7,17.9,108,95.4,4.6,0.0,0.0,0.0,True
365,W 4 ST-WASH SQ,30074.909341,31761.365385,3.000000,40.732254,-74.000308,61836.274725,40.732254,-74.000308,"(40.7322544934, -74.0003081476)",...,5.3,6.1,22.7,3767,86.2,3.8,10.0,0.0,3.4,True
372,WHITLOCK AV,1546.167582,1446.947802,3.000000,40.712564,-74.009745,2993.115385,40.712564,-74.009745,"(40.7125639268, -74.0097446152)",...,8.7,8.2,24.6,4160,88.5,3.3,8.1,0.0,1.6,True
377,WORLD TRADE CTR,12493.442308,7706.057692,3.000000,40.712564,-74.009745,20199.500000,40.712564,-74.009745,"(40.7125639268, -74.0097446152)",...,8.7,8.2,24.6,4160,88.5,3.3,8.1,0.0,1.6,True

In [17]:
df = df.drop(['weekday','lat_x','long_x','lat_y','long_y'],axis=1)
df.to_pickle('merged_MTA_final.pickle')

In [18]:
df.head()

,STATION,ENTRIES,EXITS,volume,geo,CensusTract,County,Borough,TotalPop,Men,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,InTechZone
0,1 AV,16640.285714,17975.576923,34615.862637,"(40.7309749758, -73.9816808749)",36061003400,New York,Manhattan,6476,3163,...,8.3,6.0,30.0,4480,86.9,4.9,7.9,0.4,5.1,False
1,103 ST,24898.337912,15611.291209,40509.629121,"(40.7994460003, -73.9683789996)",36061019100,New York,Manhattan,9545,4107,...,3.8,5.7,31.4,6057,73.5,12.1,14.4,0.0,5.0,False
2,103 ST-CORONA,16990.513736,10904.483516,27894.997253,"(40.7994460003, -73.9683789996)",36061019100,New York,Manhattan,9545,4107,...,3.8,5.7,31.4,6057,73.5,12.1,14.4,0.0,5.0,False
3,104 ST,2476.923077,701.524725,3178.447802,"(40.6817110011, -73.8376830006)",36081009400,Queens,Queens,2962,1443,...,0.0,2.6,48.0,1386,80.0,12.1,7.0,0.9,11.3,False
4,110 ST,9581.337912,6975.239011,16556.576923,"(40.7950200001, -73.9442499969)",36061017200,New York,Manhattan,5655,3075,...,3.2,7.3,32.0,2578,76.9,9.9,11.2,2.0,13.1,False

In [22]:
df1 = df.sort_values('volume',ascending=False)

In [23]:
df1.head()

,STATION,ENTRIES,EXITS,volume,geo,CensusTract,County,Borough,TotalPop,Men,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,InTechZone
61,34 ST-PENN STA,127057.491758,111318.032967,238375.524725,"(40.750373, -73.9910569991)",36061010100,New York,Manhattan,1259,758,...,7.4,7.9,23.6,932,90.7,3.6,5.7,0.0,5.7,True
233,GRD CNTRL-42 ST,111173.670330,105393.906593,216567.576923,"(40.7518074298, -73.9767132993)",36061009200,New York,Manhattan,1717,822,...,1.4,7.4,25.5,1414,87.0,4.7,8.3,0.0,1.7,False
59,34 ST-HERALD SQ,87010.483516,89816.538462,176827.021978,"(40.750373, -73.9910569991)",36061010100,New York,Manhattan,1259,758,...,7.4,7.9,23.6,932,90.7,3.6,5.7,0.0,5.7,True
14,14 ST-UNION SQ,78714.134615,75190.552198,153904.686813,"(40.8087190009, -73.9076569994)",36005003100,Bronx,Bronx,1466,769,...,3.5,0.0,40.1,722,79.2,10.2,10.5,0.0,6.6,False
46,23 ST,84724.524725,66607.587912,151332.112637,"(40.8846670006, -73.9008700002)",36005028300,Bronx,Bronx,3370,1449,...,1.1,2.9,38.2,1251,68.5,20.6,10.9,0.0,12.5,False

In [28]:
df1[['STATION','ENTRIES','EXITS','InTechZone']].set_index('STATION')

                       ENTRIES          EXITS  InTechZone
STATION
34 ST-PENN STA   127057.491758  111318.032967        True
GRD CNTRL-42 ST  111173.670330  105393.906593       False
34 ST-HERALD SQ   87010.483516   89816.538462        True
14 ST-UNION SQ    78714.134615   75190.552198       False
23 ST             84724.524725   66607.587912       False
TIMES SQ-42 ST    72945.464286   74993.425824        True
FULTON ST         72536.118132   61153.041209       False
42 ST-PORT AUTH   69825.346154   59053.791209        True
86 ST             68711.368132   56119.618132       False
125 ST            58333.401099   47489.258242       False
CANAL ST          54995.392857   47988.214286       False
59 ST COLUMBUS    55048.791209   47140.093407       False
59 ST             54807.021978   44682.590659       False
47-50 STS ROCK    42932.348901   47049.876374        True
96 ST             51221.747253   37098.247253       False
CHAMBERS ST       46895.054945   36216.934066       False
FLUSHING-MAIN     48040.714286   35067.750000       False
14 ST             42314.082418   37803.851648       False
PATH NEW WTC      40030.271293   38482.835962       False
28 ST             36918.604396   35594.884615       False
72 ST             36785.640110   32752.491758       False
JKSN HT-ROOSVLT   40847.255556   28156.636111       False
50 ST             36762.425824   30593.046703        True
ATL AV-BARCLAY    33555.865385   32534.527473       False
WALL ST           32980.719780   29562.365385       False
W 4 ST-WASH SQ    30074.909341   31761.365385        True
LEXINGTON AV/53   28456.510989   33054.662088       False
42 ST-BRYANT PK   30123.506887   31209.195592        True
7 AV              29478.211538   26354.631868       False
JAMAICA CENTER    29637.203297   23839.862637       False
...                        ...            ...         ...
BAY 50 ST          2411.043956     514.565934       False
RIT-MANHATTAN      2765.273743     158.603352       False
BRONX PARK EAST    2077.236264     801.846154       False
RIT-ROOSEVELT      2820.912088      50.881868       False
BOTANIC GARDEN     1208.659341    1632.447802       False
BUSHWICK AV        1780.027473    1045.934066       False
CENTRAL AV         1494.737342    1160.674051       False
AVENUE N           1701.354396     861.978022       False
55 ST              1656.769231     769.587912       False
215 ST             1623.766484     643.351648       False
AQUEDUCT N.COND     797.825967    1413.582873       False
SENECA AVE         1135.958791     981.093407       False
AVENUE P           1409.890110     693.076923       False
ATLANTIC AV        1489.609890     577.263736       False
CYPRESS HILLS      1159.868132     674.950549       False
BEACH 90 ST        1098.890110     734.148352       False
NEPTUNE AV         1279.675824     447.247253       False
AQUEDUCT RACETR    1459.826923     168.917582       False
E 143/ST MARY'S     766.873626     812.799451       False
BEACH 36 ST         790.049451     754.304945       False
ROCKAWAY PARK B     632.587912     684.217033       False
121 ST              862.560440     451.771978       False
AVENUE I            832.348901     390.046703       False
BEACH 44 ST         575.420330     557.230769       False
BEACH 98 ST         484.151099     432.005495       False
TOMPKINSVILLE       710.387363       0.008242       False
BEACH 105 ST        266.848901     263.837912       False
BROAD CHANNEL       245.153846      64.662088       False
ORCHARD BEACH       193.324324      16.306306       False
PATH WTC              0.000000       0.000000       False

[380 rows x 3 columns]